# == Docker Compose ==

UID=1000
GID=1000

# == Postgres ==

POSTGRES_PASSWORD=
POSTGRES_USER=postgres

# == Rust ==

# "$GITHUB_TOKEN" is used by `cargo-binstall` to authenticate against the GitHub API,
# as not to hit GitHub's API request rate limits.
GITHUB_TOKEN=
