/.env
/.cargo
/target

/docker/ollama/data/
!/docker/ollama/data/.gitkeep

/docker/postgres/data/
!/docker/postgres/data/.gitkeep

/docker/rust/cargo/
!/docker/rust/cargo/.gitkeep

/docker/rust/target/
!/docker/rust/target/.gitkeep
